  @font-face {
    font-family: 'Netflix Sans';
    src: url('/fonts/NetflixSans-Light.otf');
    font-weight: 300;
    font-display: swap;
  }
  @font-face {
    font-family: 'Netflix Sans';
    src: url('/fonts/NetflixSans-Regular.otf');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Netflix Sans';
    src: url('/fonts/NetflixSans-Medium.otf');
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Netflix Sans';
    src: url('/fonts/NetflixSans-Bold.otf');
    font-weight: 700;
    font-display: swap;
  }
