services:
  arteflix:
    image: ghcr.io/kinooyume/arteflix:latest
    container_name: arteflix
    restart: unless-stopped
    ports:
      - "3000:3000"

  caddy:
    image: caddy:alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
