name: CI

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Validate PR commits
        if: github.event_name == 'pull_request'
        uses: cocogitto/cocogitto-action@v4
        with:
          command: check
          args: --from-latest-tag

      - name: Install dependencies
        run: bun install

      - name: Install Playwright
        run: bun playwright install --with-deps

      - name: Build
        run: bun nx run arteflix:all:build

      - name: Test
        run: bun nx run arteflix:test

      - name: E2E
        run: bun nx run arteflix-e2e:e2e
